<?xml version="1.0" encoding="utf-8"?>
<!--
  Watch Face Format (WFF) watch face. This APK is resource-only: the face is described in
  res/raw/watchface.xml and res/xml/watch_face_info.xml and rendered by the system.

  Sunrise/sunset shading comes from complications published by the :sun module, which is a
  separate APK because WFF watch faces cannot contain code.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:hasCode="false">

        <property
            android:name="com.google.wear.watchface.format.version"
            android:value="1" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

    </application>
</manifest>
